<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<global-method-security pre-post-annotations="enabled" />
	<!-- 该路径下的资源不用过滤 -->
	<http pattern="/images/**" security="none" />
	<http pattern="/script/**" security="none" />
	<http pattern="/skins/**" security="none" />
	<http pattern="/style/**" security="none" />

	<!-- 登录页面不过滤 -->
	<http pattern="/admin/login" security="none" />
	<http pattern="/admin/doLogin" security="none" />
	

	<http use-expressions="true" entry-point-ref="authenticationProcessingFilterEntryPoint">
		<!-- 
		<form-login login-page="/admin/login"
			authentication-failure-url="/admin/login" login-processing-url="/admin/doSecurity"
			username-parameter="username" password-parameter="password" />
		<logout invalidate-session="true" logout-url="/admin/logout"
			logout-success-url="/admin/logout" />
		-->
			
		<!-- 实现免登陆验证 -->
		<remember-me />
		<session-management invalid-session-url="/timeout.jsp">
			<concurrency-control max-sessions="10"
				error-if-maximum-exceeded="true" />
		</session-management>
		<custom-filter ref="loginFilter" position="FORM_LOGIN_FILTER"  />
		<custom-filter ref="securityFilter" before="FILTER_SECURITY_INTERCEPTOR"/>
	</http>

	<!-- 配置过滤器 -->
	<beans:bean id="securityFilter" class="org.mspring.mlog.security.MySecurityFilter">
		<!-- 用户拥有的权限 -->
		<beans:property name="authenticationManager" ref="myAuthenticationManager" />
		<!-- 用户是否拥有所请求资源的权限 -->
		<beans:property name="accessDecisionManager" ref="myAccessDecisionManager" />
		<!-- 资源与权限对应关系 -->
		<beans:property name="securityMetadataSource" ref="mySecurityMetadataSource" />
	</beans:bean>
	
	<!-- 实现了UserDetailsService的Bean -->
	<authentication-manager alias="myAuthenticationManager">
		<authentication-provider user-service-ref="myUserDetailServiceImpl" />
	</authentication-manager>
	
	 <!-- 登录验证器 -->
    <beans:bean id="loginFilter"
		class="org.mspring.mlog.security.MyUsernamePasswordAuthenticationFilter">
		<!-- 处理登录 -->
		<beans:property name="filterProcessesUrl" value="/admin/doSecurity"></beans:property>
		<beans:property name="authenticationSuccessHandler" ref="loginLogAuthenticationSuccessHandler"></beans:property>
		<beans:property name="authenticationFailureHandler" ref="simpleUrlAuthenticationFailureHandler"></beans:property>
		<beans:property name="authenticationManager" ref="myAuthenticationManager"></beans:property>
	</beans:bean>
	<beans:bean id="loginLogAuthenticationSuccessHandler"
		class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
		<beans:property name="defaultTargetUrl" value="/admin/index"></beans:property>
	</beans:bean>
	<beans:bean id="simpleUrlAuthenticationFailureHandler"
		class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
		<beans:property name="defaultFailureUrl" value="/admin/login"></beans:property>
	</beans:bean>
	
	<!-- 未登录的切入点 -->
	<beans:bean id="authenticationProcessingFilterEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<beans:property name="loginFormUrl" value="/admin/login"></beans:property>
	</beans:bean>


	<beans:bean id="myAccessDecisionManager"
		class="org.mspring.mlog.security.MyAccessDecisionManager"></beans:bean>
	<beans:bean id="mySecurityMetadataSource"
		class="org.mspring.mlog.security.MySecurityMetadataSource">
	</beans:bean>
	<beans:bean id="myUserDetailServiceImpl"
		class="org.mspring.mlog.security.MyUserDetailServiceImpl">
	</beans:bean>

</beans:beans>
