@CHARSET "UTF-8";

@media  screen and (max-width: 960px) {
 
}

body {
	background: white;
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
	color: black;
	margin: 0;
	cursor: default;
}

td {
	font-family: verdana, 宋体;
	font-size: 11;
	color: black;
	margin: 0px;
	cursor: default;
}

form {
	margin: 0;
}

img {
	border:none;
}

a {
	text-decoration: none;
}

a:VISITED {
	color: blue;
}

/*顶部样式*/
/*
.top {
	margin: 0px;
	padding: 0px;
}

.top .logo {
	float: left;
	margin: 0px;
	padding: 0px;
}

.top .logo img {
	border: none;
	margin: 0px;
	padding: 0px;
}

.top .metadata {
	float: right;
	margin: 10px;
}

.top a {
	text-decoration: none;
}

.top a:VISITED {
	color: blue;
}
*/
.top {
	float:right; 
	width:100%; 
	margin:0px; 
	padding:0px;
	font-size:12px;
	font-family: "Microsoft YaHei";
}

.top .logo {
	border:none;
	width:156px;
}

.top .metadata {
	text-align:right;
	padding-right:10px;
	height:30px;
}

.top .metadata a, .top .metadata a:visited {
	text-decoration: none;
	color: blue;
}

.top .menu {
	text-align:right;
	vertical-align:bottom;
	height:30px;
	padding-right:10px;
	padding-bottom:10px;
}

.top .menu a, .top .menu a:visited {
	text-decoration: none;
	color: blue;
}


/*底部样式*/
.bottom {
	font-size: 13px;
	text-align: center;
}

.bottom a {
	text-decoration: none;
}

.bottom a:VISITED {
	color: blue;
}

/*树形菜单*/
.widget-head {
	padding: 0 5px;
	background-color: #F6F6F6;
	border-bottom: 1px solid #CCC;
}

.widget-head h2 {
	margin: 0;
}

.widget-body {
	padding: 5px;
}

/* data table */
.dtable {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.dtable caption {
	padding: 0 0 5px 0;
	width: 700px;
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

.dtable th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA no-repeat;
}

.dtable th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

/*奇数*/
.dtable td.odd {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	font-size: 11px;
	padding: 6px 6px 6px 12px;
	background: #fff;
	color: #4f6b72;
}

.dtable td.odd a {
	text-decoration: none;
	color: #4f6b72;
}

/*偶数*/
.dtable td.even {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	font-size: 11px;
	padding: 6px 6px 6px 12px;
	background: #F5FAFA;
	color: #797268;
}

.dtable td.even a {
	text-decoration: none;
	color: #4f6b72;
}

/* 分页栏样式 */
div.pagger {
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 3px;
	MARGIN: 3px;
	PADDING-TOP: 3px;
	TEXT-ALIGN: center;
	FONT-SIZE: 12px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	PADDING-LEFT: 25px;
	float: right;
}

div.pagger A {
	BORDER-RIGHT: #eee 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #eee 1px solid;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 2px;
	MARGIN: 2px;
	BORDER-LEFT: #eee 1px solid;
	COLOR: #036cb4;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #eee 1px solid;
	TEXT-DECORATION: none
}

div.pagger A:hover {
	BORDER-RIGHT: #999 1px solid;
	BORDER-TOP: #999 1px solid;
	BORDER-LEFT: #999 1px solid;
	COLOR: #666;
	BORDER-BOTTOM: #999 1px solid
}

div.pagger A:active {
	BORDER-RIGHT: #999 1px solid;
	BORDER-TOP: #999 1px solid;
	BORDER-LEFT: #999 1px solid;
	COLOR: #666;
	BORDER-BOTTOM: #999 1px solid
}

div.pagger .current {
	BORDER-RIGHT: #036cb4 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #036cb4 1px solid;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: 2px;
	MARGIN: 2px;
	BORDER-LEFT: #036cb4 1px solid;
	COLOR: #fff;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #036cb4 1px solid;
	BACKGROUND-COLOR: #036cb4
}

div.pagger .disabled {
	BORDER-RIGHT: #eee 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #eee 1px solid;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 2px;
	MARGIN: 2px;
	BORDER-LEFT: #eee 1px solid;
	COLOR: #ddd;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #eee 1px solid
}

/* tab page */
.tab {
	background: #d5d5d5;
	padding-bottom: 3px;
	font-size: 12px;
	
	text-align: left;
	width: 100%;	
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
	_top: expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight);
	_position: abstract;
	
	/*
	overflow: hidden;
	overflow: visible;
	border: #B4B4B4 1px solid;
	border-top: none;
	margin: 0 0;
	line-height: 25px;
	height: 25px;
	*/
}

.tab ul {
	padding: 8px 0px 3px 0px;
	margin: 0px 0px 1px 0px;
	list-style: none;
	background: #f1f1f1;
	border-bottom: 1px solid #999;
}

.tab ul li {
	display: inline;
	margin-left: 10px;
}

.tab ul li a,.tab ul li a:VISITED {
	background: #fff;
	padding: 3px 5px 3px 5px;
	border: 1px solid #999;
	text-decoration: none;
	color: #2C3434;
}

.tab ul li a:hover {
	background: #ccc;
	text-decoration: none;
}

.tab-container {
	margin-top:30px;
	padding-top:3px;
}

.tab ul li a.here {
	background: #d5d5d5;
	padding: 3px 5px 3px 5px;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #d5d5d5;
}

.tab ul li a.here:hover {
	background: #d5d5d5;
}

/* 表单样式 */
input.readonly {
	padding-right: 1px;
	padding-left: 1px;
	padding-bottom: 2px;
	padding-top: 2px;
	border: 1px solid #9999cc;
	background: #efefef;
}

.fieldlabel {
	line-height: 2em;
	text-decoration: none;
	cursor: default;
	vertical-align: baseline;
	text-align: right;
	color: #003399;
	font-family: '新宋体';
	font-size: 12px;
}

.fieldnotice {
	line-height: 2em;
	text-decoration: none;
	cursor: default;
	vertical-align: baseline;
	text-align: left;
	color: #cc3366;
	font-family: '新宋体';
	font-size: 12px;
}

span.error {
	font-size:12px;
	color:red;
}

.textinput {
	padding-right: 1px;
	padding-left: 1px;
	padding-bottom: 2px;
	padding-top: 2px;
	border: 1px solid #cccccc;
	background: expression(this.readOnly ? "#efefef" :this.disabled ?"#efefef":"#ffffff");
}

.textinput_gv {
	padding-right: 1px;
	padding-left: 1px;
	padding-bottom: 2px;
	padding-top: 2px;
	border: 0px;
	width: 100%;
	background: expression(this.readOnly ?"#efefef" : this.disabled ? "#efefef" :  "#ffff77");
}

.textinput1 {
	padding-right: 1px;
	padding-left: 1px;
	padding-bottom: 2px;
	padding-top: 2px;
	border: 1px solid #cccccc;
	background-color: #ffff77;
}

.selectinput {
	padding-right: 1px;
	padding-left: 1px;
	padding-bottom: 2px;
	padding-top: 2px;
}

.selectinput_gv {
	width: 100%;
	padding: 0px;
	font-size: 10;
}

.btn {
	padding: 2px 4px 0px 4px;
	font-size: 12px;
	height: 23px;
	background-color: #d5d5d5;
	border-width: 1px;
}

.btn_1 {
	padding: 2 4 0 4;
	font-size: 12px;
	height: 23;
	background-color: #ece9d8;
	border-width: 1;
}

.formtable {
	width:100%;
	font-size:14px;
	line-height: 21px;
	border:1px solid #cfdfef;
}


/* 信息窗体 */
.infotable{
	width:98%;
	font-size:12px;
	line-height: 21px;
	margin:10px;
	border:1px solid #cfdfef;
}

.infotable .partition {
	font-weight:bold;
	padding: 5px;
	background: url(../images/bg_repx_hc.gif) repeat-x 0 -40px;
}

.infotable a, .infotable a:VISITED{
	text-decoration: none;
	color: blue;
}

.color1 {
	background: #DAE2E8;
}

.color2 {
	background: #F1F4F7;
}

.color3 {
	background: #FFFFFF;
}



/* 主题列表 */
.skins .skinItem {
    background-color: #FAFAFA;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #333333;
    line-height: 16px;
    margin: 24px 12px;
    padding: 10px 5px;
    text-align: center;
    width: 200px;
}
.skins .skinItem:hover {
    background-color: #EEE;
}
.skins .skinItem.selected {
    background-color: #ff9999;
}
.skins .skinItem.selected:hover {
    background-color: #ff9999;
}
.skins .skinItem img {
	border:none;
	width: 180px;
}
.skins .skinItem .metadata{
	margin-top:5px;
	color: blue;
	font-size:13px;
}
.skinItem .metadata span{
	color:black;
}
.skinItem .metadata a, .skinItem .metadata a:VISITED{
	text-decoration: none;
	color: blue;
}
.left {
    float: left;
}
.right {
    float: right;
}


/*相册、图片列表样式*/
#wall{ width:100%; margin:0 auto; font-size:0;}
.item{display:inline-block; margin:4px; *display:inline; zoom:1;}
.itemdiv{border:double 3px #efefef; width:152px; height:152px; background-color:#fcfcfc; display:table-cell; vertical-align: middle; text-align:center;}
.itemimage{max-height: 150px; max-width: 150px;}
.itemmeta{ display:block; width:100%; text-align:center; font-size:12px; color:#666;  line-height:20px; }
.itemmeta .itemtitle{ text-decoration:none; color: #666600;}
.itemmeta .itemtitle:hover{ text-decoration:none; color:red;}
.itemmeta .ctrl, .itemmeta .ctrl:hover { text-decoration:none; color:blue;}


/*提示消息*/
.message { padding:10px; margin:10px; display:block; text-align:left }
.message-title { font-weight:bold; font-size:1.25em }
.message-body { margin-top:4px }
.message.error, .message.notice, .message.success { padding:.8em; margin-bottom:1em; border:2px solid #ddd }
.message.error { background:#FBE3E4; color:#8a1f11; border-color:#FBC2C4 }
.message.notice { background:#FFF6BF; color:#514721; border-color:#FFD324 }
.message.success { background:#E6EFC2; color:#264409; border-color:#C6D880 }
.message.error a { color:#8a1f11 }
.message.notice a { color:#514721 }
.message.success a { color:#264409 }
.message ul, .message li {list-style: none;}