.ml {
	
}

.ml li {
	float: left;
	padding: 0 5px 5px;
	text-align: center;
	overflow: hidden;
}

.ml img {
	display: block;
	margin: 0 auto;
}

.ml p,.ml span {
	display: block;
	width: 100%;
	height: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.ml span,.ml span a {
	color: #999;
}

.mls li {
	padding: 0 0 5px;
	width: 66px;
}

.mls img {
	width: 48px;
	height: 48px;
}

.mls p {
	margin-top: 5px;
}

.mlm li {
	padding: 0 0 5px;
	width: 150px;
}

.mlm img {
	width: 120px;
	height: 120px;
}

.mla li {
	width: 140px;
	height: 224px;
}

.mla1 li {
	height: 150px;
}

.mla .c {
	margin: 0 auto;
	width: 136px;
	height: 150px;
	background: url(../../static/image/common/gb.gif) no-repeat 0 0;
}

.mla .a {
	background-position: 0 100%;
}

.mla .c a {
	display: block;
	padding: 14px 4px 3px 8px;
	width: 120px;
	height: 120px;
	overflow: hidden;
}

.mla img {
	max-width: 120px;
	max-height: 120px;
	_width: expression(this . width >   120 &&   this . width >= this . height ?  
		120 : true);
	_height: expression(this . height >   120 &&   this . width <= this . height ?  
		120 : true);
}

.mlp li {
	width: 140px;
	height: 140px;
}

.mlp .d {
	padding: 0 0 5px;
	width: 150px;
	height: 180px;
}

.mlp img {
	padding: 2px;
	max-width: 120px;
	max-height: 120px;
	border: 1px solid #CCC;
	background: #FFF;
}

* html .mlp img {
	width: expression(this . width >   120 &&   this . width >= this . height ?  
		120 : true);
	height: expression(this . height >   120 &&   this . width <= this . height ?  
		120 : true);
}

.gm,.gs,.gol {
	float: left;
	display: block;
	margin: -3px auto 0; *
	margin: -3px 0 0 -37px;
	width: 74px;
	height: 18px;
	background: url(../../static/image/common/gst.gif) no-repeat 5px 0;
	position: absolute;
	overflow: hidden;
}

.gs {
	background-position: 8px -18px;
}

.gol {
	background-position: 8px -36px;
}

.appl ul {
	margin: 3px 0;
}

.appl li {
	height: 28px;
	line-height: 28px;
	white-space: nowrap;
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.appl li a {
	text-decoration: none !important;
}

.appl img {
	margin: 5px 5px -3px 0;
}

.appl span {
	float: right;
	font-size: 12px;
}

.appl span a {
	color: #999;
}

.appl span a:hover {
	color: #369;
}

.myo li {
	height: auto;
	line-height: 1.5;
}

.myo img {
	margin-bottom: -1px;
}

.myo a {
	color: #369;
}

.tbn {
	margin: -7px -10px;
}

.tbn ul {
	margin: 0;
}

.tbn li {
	margin: 0 10px;
	height: 33px;
	border-bottom: 1px dashed #CCC;
}

.tbn li.a {
	margin: -1px 0 0;
	padding: 0 10px;
	border-top: 1px solid #CCC;
	border-bottom-style: solid;
	background: #CCC url(../../static/image/common/tbn.png) repeat-x 0 0;
}

.tbn ul a {
	display: block;
	height: 33px;
	line-height: 33px;
}

.tbn .mt {
	padding: 10px;
}

.mg_img {
	padding: 10px;
	width: 76px;
	height: 76px;
	background: url(../../static/image/common/magic_imgbg.gif) no-repeat 0 0
		;
}

.lk img {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	width: 88px;
	height: 31px;
}

.lk p {
	color: #666;
}

.lk .m li {
	clear: left;
	padding: 0 0 10px 98px;
}

.lk .m img {
	display: inline;
	margin-top: 4px;
	margin-top: 1px\9;
	margin-left: -98px;
}

.lk .x li {
	float: left;
	margin-right: 5px;
	width: 88px;
	height: 1.5em;
	overflow: hidden;
}

.lk_logo .lk_content {
	float: left;
}

.tedt {
	width: 98%;
	border: 1px solid;
	border-color: #999 #CCC #CCC #999;
}

.tedt .bar {
	padding: 0 10px 0 0;
	height: 25px;
	border-bottom: 1px solid #CDCDCD;
	background: #F2F2F2;
	line-height: 28px;
}

.fpd a {
	float: left;
	margin: 2px 5px 0 0;
	width: 20px;
	height: 20px;
	background: url(../../static/image/editor/editor.gif) no-repeat;
	text-indent: -9999px;
	line-height: 20px;
	overflow: hidden;
}

.fpd a.fbld {
	background-position: 0 0;
}

.fpd a.fclr {
	background-position: -60px 0;
}

.fpd a.fmg {
	background-position: 0 -20px;
}

.fpd a.flnk {
	background-position: -40px -20px;
}

.fpd a.fqt {
	background-position: -140px -20px;
}

.fpd a.fcd {
	background-position: -120px -20px;
}

.fpd a.fsml {
	background-position: -20px -20px;
}

.tedt .area {
	padding: 4px;
	background: #FFF;
	zoom: 1;
}

.tedt .pt {
	width: 100%;
	padding: 0 !important;
	border: none;
	background: #FFF none;
}

.tedt .pt:focus {
	outline: none;
	-moz-box-shadow: none;
}

.m_c .tedt {
	width: 600px;
}

.sllt {
	padding: 10px;
	border: 1px solid #CCC;
	background: #FFF;
}

.sllt td {
	padding: 8px;
	border: none;
	cursor: pointer;
}

.sllt_p { *
	float: left;
	text-align: right;
}

.sllt_p a {
	margin-right: 5px;
	color: #069;
	text-decoration: underline;
}

.sl_pv {
	margin-top: 5px;
	padding: 8px;
	background: #FAFAFA;
	border: 1px solid #CCC;
}

.slg {
	height: 33px; *
	height: 34px;
	overflow: hidden;
	width: expression(this . parentNode . offsetWidth);
}

.slg ul,.imguptype {
	margin: 6px 0;
	padding: 0 0 26px 8px;
	border-bottom: 1px solid #CDCDCD;
}

.slg li,.imguptype li {
	display: inline;
}

* html .slg li,* html .imguptype li {
	line-height: 18px;
}

.slg li a,.imguptype li a {
	float: left;
	margin: 2px 6px 0 0;
	padding: 2px 10px;
	height: 19px;
	border: 1px solid #CDCDCD;
	color: 069;
	text-decoration: none;
}

.slg li a:focus,.imguptype li a:focus {
	outline: none;
}

.slg li a.current,.imguptype li a.current {
	border-bottom-color: #FFF;
	font-weight: 700;
	color: #069;
}

.sslct {
	padding: 5px 10px;
	border-top: 1px dashed #CDCDCD;
}

.sslct_btn {
	float: left;
	margin: 4px 4px 0 0;
	width: 12px;
	height: 12px;
	border: 1px solid #CDCDCD;
	cursor: pointer;
}

.sslct_btn i {
	float: left;
	display: inline;
	margin: 1px;
	width: 10px;
	height: 10px;
	background: #2E80D1;
	overflow: hidden;
	font-style: normal;
}

.wslct {
	border-top: 1px dashed #CDCDCD;
}

.wslct a {
	padding-left: 10px !important;
	background-image: none !important;
}

.wslct a:hover {
	background-image: none !important;
}

.p_pop,.p_pof {
	padding: 5px 0;
	border: 1px solid;
	border-color: #DDD;
	background: #FEFEFE
}

.p_pof {
	width: 500px;
}

.p_opt {
	padding: 10px;
}

.p_pop li {
	display: inline;
}

.p_pop a {
	position: relative;
	display: block;
	padding: 3px 15px;
	white-space: nowrap;
}

.ie6 .p_pop a {
	position: relative;
}

.m_c {
	background: #FFF;
}

.m_c .tb {
	margin: 0 0 10px;
	padding: 0 10px;
}

.m_c .c {
	padding: 0 10px 10px;
}
.m_c