@CHARSET "UTF-8";
/*全局*/
.left {
	float:left;
}
.right {
	float:right;
}

/*文本输入框*/
.twitter-input {
	width: 98%;
	height: 52px;
	display: block;
	overflow-y: auto;
	padding: 5px;
	font-size: 14px;
	line-height: 18px;
	cursor: text;
	outline: none;
	border: #ddd solid 1px;
	background: #fff;
	box-shadow: 1px 1px 3px #dcdcdc inset;
	-moz-box-shadow: 1px 1px 3px #dcdcdc inset;
	-khtml-box-shadow: 1px 1px 3px #dcdcdc inset;
	border-radius: 0px;
	resize: none;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.twitter-input p {
	margin:0;
}

/*底部工具*/
.bottom-tools {
	padding:5px 0 0 0;
}
.insert-buttons a {
	font-size: 9pt;
	text-decoration: none;
	color: #666;
	border: 1px solid #FFF;
	padding: 1px 2px 1px 18px;
	cursor: pointer;
}
.insert-buttons a:hover {
	border: 1px solid #5CC26F;
}
.insert-buttons span {
	font-weight: bold;
}
.insert_em {
	background:url('images/emotion.gif') no-repeat left center;
}

/*表情输入框*/
.layer {
	display: none;
	position: absolute;
	z-index: 9999;
	margin: 20px 0 0 0;
}

.layer-popup-title {
	padding: 3px 5px;
	margin: 0 0 10px 0;
	font-weight: bold;
}

.layer-popup-title {
	line-height: 30px;
	border-bottom: 1px solid #EEE;
	font-size: 14px;
}

.layer-popup-title a {
	float: right;
	cursor: pointer;
	text-decoration: none;
}

.layer-popup-title a:HOVER {
	color: red; 
}

.layer .l {
	margin: 0 0 10px 0;
}

.layer-popup-arrow {
	background-image: url('images/up_arrow.gif');
	background-repeat: no-repeat;
	padding-top: 5px;
}

.layer-popup-arrow.em {
	background-position: 51px 0px;
}

.layer-popup {
	width: 392px;
	border: 2px solid #CCC;
	background: #F8F7F7;
	padding: 5px;
}

.layer-popup a.emotion_img {
	float: left;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	margin: 0 2px 4px 0;
	border: 1px solid #F6F6F6;
}

.layer-popup a.emotion_img:hover {
	border: 1px solid #5CC26F;
}