@CHARSET "UTF-8";
ul.twitters { list-style-type: none; margin: 20px 0 0 0; }
ul.twitters li {
	overflow:hidden;
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #eee;
}
ul.twitters li a {text-decoration:none;}
ul.twitters li .portrait {float:left; width:50px;}
ul.twitters li .portrait img {width:40px;height:40px;margin-top:2px;}
ul.twitters li .jaw {float:left;}
ul.twitters li .jaw p {color: #000; overflow:hidden; word-break:break-all; line-height:22px;}
ul.twitters li .jaw .meta {color:#888; font-size:9pt;}
ul.twitters li .img {margin:5px 0;}